<!-- CONTACT SECTION-->
<section id="contact" class="generic dark-bg">
    <div class="container">
      <h2 class="display-5 text-danger mb-5">GET IN TOUCH</h2>

      <div class="row">
        <div class="col-md-12 col-lg-6">
          <form class="row">

            <div class="col-6">
              <div class="input-group">
                <div class="input-group-text rounded-0 bg-danger border-danger text-white">
                  <i class="bi bi-person-fill"></i>
                </div>
                <input type="text" class="form-control rounded-0 border-danger text-white bg-transparent"
                  placeholder="NAME *" required>
              </div>
            </div>

            <div class="col-6">
              <div class="input-group">
                <div class="input-group-text rounded-0 bg-danger border-danger text-white">
                  <i class="bi bi-at"></i>
                </div>
                <input type="email" class="form-control rounded-0 border-danger text-white bg-transparent"
                  placeholder="EMAIL *" required>
              </div>
            </div>

            <div class="col-12 py-5">
              <div class="input-group">
                <div class="input-group-text rounded-0 bg-danger border-danger text-white">
                  <i class="bi bi-envelope-fill"></i>
                </div>
                <textarea class="form-control rounded-0 border-danger text-white bg-transparent"
                  placeholder="MEESAGE *" rows="5" required></textarea>
              </div>
            </div>

            <div class="d-grid">
              <button class="btn btn-outline-danger rounded-0 text-uppercase" type="submit">
                  SEND MESSAGE
              </button>
            </div>

          </form>
        </div>
        <div class="col-md-12 col-lg-6">
          <table class="table border-0 d-flex h-100 flex-column justify-content-center">
            <tbody>
              <tr>
                <td colspan="7" class="align-middle">
                  <span class="text-light">C/St Diego 13, D:2-K:44 10034 Edremit / Balıkesir - Turkey</span>
                </td>
                <th scope="row" class="text-danger lead text-center">
                  <i class="bi bi-geo-alt-fill" style="font-size: 2rem;"></i>
                </th>
              </tr>
              <tr>
                <td colspan="7" class="align-middle">
                  <span class="text-light">+90 555 - 444 - 333 - 222 - 111</span>
                </td>
                <th scope="row" class="text-danger lead text-center">
                  <i class="bi bi-telephone-fill" style="font-size: 2rem;"></i>
                </th>
              </tr>

              <tr>
                <td class="align-middle"><span class="text-light"><i class="bi bi-facebook"></i></span></td>
                <td class="align-middle"><span class="text-light"><i class="bi bi-twitter"></i></span></td>
                <td class="align-middle"><span class="text-light"><i class="bi bi-youtube"></i></span></td>
                <td class="align-middle"><span class="text-light"><i class="bi bi-linkedin"></i></span></td>
                <td class="align-middle"><span class="text-light"><i class="bi bi-google"></i></span></td>
                <td class="align-middle"><span class="text-light"><i class="bi bi-instagram"></i></span></td>
                <td class="align-middle"><span class="text-light"><i class="bi bi-github"></i></span></td>
                <th scope="row" class="text-danger lead text-center">
                  <i class="bi bi-eye-fill" style="font-size: 2rem;"></i>
                </th>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>