<div class="container text-center mt-5">
    <div class="text text-left">
        <div class="text-primary"><h5>Adres Detay</h5></div>
        <div>
            <label class="mt-3"> <b>Adres:</b></label>{{address.address}}
        </div>
        <div>
            <label class="mt-3"> <b>Sokak:</b></label>{{address.street}}
        </div>
        <div>
            <label class="mt-3"> <b>Mahalle:</b></label>{{address.neighborhood}}
        </div>
        <div>
            <label class="mt-3"> <b>İlçe:</b></label>{{address.district}}
        </div>
        <div>
            <label class="mt-3"> <b>İl:</b></label>{{address.city}}
        </div>
    </div>
</div>
