<section id="latest">
  <div class="container">
    <h2 class="display-5 text-primary mb-5">WHAT WE DO</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6  p-0">
        <div class="latest-item">
          <button class="btn btn-primary p-0 rounded-0 border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#itemDetail1" aria-expanded="false" aria-controls="collapseExample">
            <img src="../../../assets/img/img-1.jpg" class="img-fluid" alt="Pool" />
            <div class="overlay d-flex align-items-center justify-content-center">
              <i class="bi bi-chevron-double-down"></i>
            </div>
          </button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6  p-0">
        <div class="latest-item">
          <button class="btn btn-primary p-0 rounded-0 border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#itemDetail2" aria-expanded="false" aria-controls="collapseExample">
            <img src="../../../assets/img/img1-2.jpg" class="img-fluid" alt="Pool" />
            <div class="overlay d-flex align-items-center justify-content-center">
              <i class="bi bi-chevron-double-down"></i>
            </div>
          </button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6  p-0">
        <div class="latest-item">
          <button class="btn btn-primary p-0 rounded-0 border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#itemDetail3" aria-expanded="false" aria-controls="collapseExample">
            <img src="../../../assets/img/img1-1.jpg" class="img-fluid" alt="Pool" />
            <div class="overlay d-flex align-items-center justify-content-center">
              <i class="bi bi-chevron-double-down"></i>
            </div>
          </button>
        </div>
      </div>
      <div class="col-md-3 col-sm-6  p-0">
        <div class="latest-item">
          <button class="btn btn-primary p-0 rounded-0 border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#itemDetail4" aria-expanded="false" aria-controls="collapseExample">
            <img src="../../../assets/img/img-1.jpg" class="img-fluid" alt="Pool" />
            <div class="overlay d-flex align-items-center justify-content-center">
              <i class="bi bi-chevron-double-down"></i>
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="collapse" id="itemDetail1">
        <div class="container-fluid p-0 mt-3">
          <div class="row p-0 shadow">
            <div class="col-md-3 col-sm-6 p-0">
              <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="collapse"
                data-bs-target="#itemDetail1" aria-expanded="false" aria-controls="collapseExample"></button>
              <dl class="row ps-5">
                <dl class="col-12">
                  <span class="text-danger lead">PROJECT NAME 1</span>
                </dl>
                <dt class="col-4">CLIENT</dt>
                <dd class="col-8">ABC Company</dd>
                <dt class="col-4">CATEGORY</dt>
                <dd class="col-8">Brinding</dd>
                <dt class="col-4">DURATION</dt>
                <dd class="col-8">2 weeks</dd>
              </dl>
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img1-1.jpg" class="img-fluid" alt="Pool" />
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img1-2.jpg" class="img-fluid" alt="Pool" />
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img1-3.jpg" class="img-fluid" alt="Pool" />
            </div>
          </div>
        </div>
      </div>
      <div class="collapse" id="itemDetail2">
        <div class="container-fluid p-0 mt-3">
          <div class="row p-0 shadow">
            <div class="col-md-3 col-sm-6 p-0">
              <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="collapse"
                data-bs-target="#itemDetail2" aria-expanded="false" aria-controls="collapseExample"></button>
              <dl class="row ps-5">
                <dl class="col-12">
                  <span class="text-danger lead">PROJECT NAME 2</span>
                </dl>
                <dt class="col-4">CLIENT</dt>
                <dd class="col-8">ABC Company</dd>
                <dt class="col-4">CATEGORY</dt>
                <dd class="col-8">Brinding</dd>
                <dt class="col-4">DURATION</dt>
                <dd class="col-8">2 weeks</dd>
              </dl>
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img2-2.jpg" class="img-fluid" alt="Pool" />
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img3-2.jpg" class="img-fluid" alt="Pool" />
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img4-2.jpg" class="img-fluid" alt="Pool" />
            </div>
          </div>
        </div>
      </div>
      <div class="collapse" id="itemDetail3">
        <div class="container-fluid p-0 mt-3">
          <div class="row p-0 shadow">
            <div class="col-md-3 col-sm-6 p-0">
              <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="collapse"
                data-bs-target="#itemDetail3" aria-expanded="false" aria-controls="collapseExample"></button>
              <dl class="row ps-5">
                <dl class="col-12">
                  <span class="text-danger lead">PROJECT NAME 3</span>
                </dl>
                <dt class="col-4">CLIENT</dt>
                <dd class="col-8">ABC Company</dd>
                <dt class="col-4">CATEGORY</dt>
                <dd class="col-8">Brinding</dd>
                <dt class="col-4">DURATION</dt>
                <dd class="col-8">2 weeks</dd>
              </dl>
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img4-3.jpg" class="img-fluid" alt="Pool" />
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img4-2.jpg" class="img-fluid" alt="Pool" />
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img3-2.jpg" class="img-fluid" alt="Pool" />
            </div>
          </div>
        </div>
      </div>
      <div class="collapse" id="itemDetail4">
        <div class="container-fluid p-0 mt-3">
          <div class="row p-0 shadow">
            <div class="col-md-3 col-sm-6 p-0">
              <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="collapse"
                data-bs-target="#itemDetail4" aria-expanded="false" aria-controls="collapseExample"></button>
              <dl class="row ps-5">
                <dl class="col-12">
                  <span class="text-danger lead">PROJECT NAME 4</span>
                </dl>
                <dt class="col-4">CLIENT</dt>
                <dd class="col-8">ABC Company</dd>
                <dt class="col-4">CATEGORY</dt>
                <dd class="col-8">Brinding</dd>
                <dt class="col-4">DURATION</dt>
                <dd class="col-8">2 weeks</dd>
              </dl>
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img2-2.jpg" class="img-fluid" alt="Pool" />
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img4-2.jpg" class="img-fluid" alt="Pool" />
            </div>
            <div class="col-md-3 col-sm-6 p-0">
              <img src="../../../assets/img/img4-3.jpg" class="img-fluid" alt="Pool" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>