<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 mt-5">
    <h5 class="text-center">Kullanıcı Tipi Güncelle</h5>
    <form [formGroup]="poolUsageTypeUpdateForm" (ngSubmit)="onSubmit()">
        <div class="form-group input-group mt-5">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-arrow-bar-right"></i></span>
            </div>
            <input name="poolUsageTypeName" class="form-control" value="{{poolUsageType.poolUsageTypeName}}" type="text" formControlName="poolUsageTypeName">
        </div>
        <div class="form-group text-end">
            <button type="submit" class="btn btn-warning btn-block mt-3">Güncelle</button>
        </div>
    </form>
    
</div>
</div>
</div>

