<section class="generic" id="about">
  <div class="container" >
    <h2 class="display-5 text-primary mb-5">WHO WE ARE</h2>
    <div class="row mb-3">
      <div class="col-sm-12 col-md-8 bg-light">
        <div class="d-flex h-100 flex-column justify-content-center" id="information">
          <p>
                It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters. The point of using Lorem Ipsum is that it
            has a more-or-less normal distribution of letters
          </p>

        </div>
      </div>
      <div class="col-sm-12 col-md-4 p-0">
        <img
          class="img-fluid"
          src="../../../assets/img/company-1.jpg"
          alt="Company"
        />
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 bg-light">
          <div class="d-flex h-100 flex-column justify-content-center" id="information">
            <p>
                  It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The point
              of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters. The point of using Lorem Ipsum is that it
              has a more-or-less normal distribution of letters
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 p-0 order-first">
          <img
            class="img-fluid"
            src="../../../assets/img/company-2.jpg"
            alt="Company"
          />
        </div>
      </div>
  </div>
</section>
