<section id="team" class="generic">
    <div class="container">
        <h2 class="display-5 text-primary mt-5 mb-5">THE TEAM</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div class="d-grid bg-success py-4">
                   <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success rounded-0 py-5" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        DESIGNER
                    </button>
                </div>
            </div>
            <div class="col p-0">
                <div class="d-grid bg-primary py-4">
                    <!-- Button trigger modal -->
                     <button type="button" class="btn btn-primary rounded-0 py-5" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                       DEVELOPER
                     </button>
                 </div>
            </div>
            <div class="col p-0">
                <div class="d-grid bg-warning py-4">
                    <!-- Button trigger modal -->
                     <button type="button" class="btn btn-warning rounded-0 py-5" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                         ENGİNEER
                     </button>
                 </div>
            </div>
            <div class="col p-0">
                <div class="d-grid bg-danger py-4">
                    <!-- Button trigger modal -->
                     <button type="button" class="btn btn-danger rounded-0 py-5" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                         ARTIST
                     </button>
                 </div>
            </div>
        </div>
    </div>

    <!-- MODAL 1 -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           <div class="modal-body">
               <img src="../../../assets/img/approach-1.jpg" class="img-fluid" alt="Team">
               <h5 class="lead text-danger mt-2">Boos</h5>
               <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <ul class="list-unstyled">
                <li>It is a long established fact that</li>
                <li>It is a long established fact that</li>
                <ul>
                    <li>It is a long established</li>
                    <li>It is a long established</li>
                </ul>
                <li>It is a long established</li>
            </ul>
            <div class="btn-group w-100" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-warning rounded-0">LINKEDID</button>
                <button type="button" class="btn btn-success rounded-0">FACEBOOK</button>
                <button type="button" class="btn btn-info rounded-0">TWITTER</button>
              </div>
           </div>
            
          </div>
        </div>
      </div>
      
      <!-- MODAL 1 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           <div class="modal-body">
               <img src="../../../assets/img/approach-1.jpg" class="img-fluid" alt="Team">
               <h5 class="lead text-danger mt-2">Boos</h5>
               <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <ul class="list-unstyled">
                <li>It is a long established fact that</li>
                <li>It is a long established fact that</li>
                <ul>
                    <li>It is a long established</li>
                    <li>It is a long established</li>
                </ul>
                <li>It is a long established</li>
            </ul>
            <div class="btn-group w-100" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-warning rounded-0">LINKEDID</button>
                <button type="button" class="btn btn-success rounded-0">FACEBOOK</button>
                <button type="button" class="btn btn-info rounded-0">TWITTER</button>
              </div>
           </div>
            
          </div>
        </div>
      </div>
       <!-- MODAL 1 -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           <div class="modal-body">
               <img src="../../../assets/img/approach-1.jpg" class="img-fluid" alt="Team">
               <h5 class="lead text-danger mt-2">Boos</h5>
               <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <ul class="list-unstyled">
                <li>It is a long established fact that</li>
                <li>It is a long established fact that</li>
                <ul>
                    <li>It is a long established</li>
                    <li>It is a long established</li>
                </ul>
                <li>It is a long established</li>
            </ul>
            <div class="btn-group w-100" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-warning rounded-0">LINKEDID</button>
                <button type="button" class="btn btn-success rounded-0">FACEBOOK</button>
                <button type="button" class="btn btn-info rounded-0">TWITTER</button>
              </div>
           </div>
            
          </div>
        </div>
      </div>
       <!-- MODAL 1 -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           <div class="modal-body">
               <img src="../../../assets/img/approach-1.jpg" class="img-fluid" alt="Team">
               <h5 class="lead text-danger mt-2">Boos</h5>
               <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            <ul class="list-unstyled">
                <li>It is a long established fact that</li>
                <li>It is a long established fact that</li>
                <ul>
                    <li>It is a long established</li>
                    <li>It is a long established</li>
                </ul>
                <li>It is a long established</li>
            </ul>
            <div class="btn-group w-100" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-warning rounded-0">LINKEDID</button>
                <button type="button" class="btn btn-success rounded-0">FACEBOOK</button>
                <button type="button" class="btn btn-info rounded-0">TWITTER</button>
              </div>
           </div>
            
          </div>
        </div>
      </div>
</section>
