<div class="container text-center mt-5">
    <div class="container justify-content-center  flex-column">
        <div class="container text-start ">
        <div class="text-primary"><h5>Bakım Operasyonu Detay</h5></div>
        <div>
            <label class="mt-3"> <b>Bakım Operasyonu Adı:</b></label>{{maintenanceOperation.operationName}}
        </div>
        <div>
            <label class="mt-3"> <b>Hangi Sıklıkla Yapılır:</b></label>{{maintenanceOperation.whatFrequency}}
        </div>
        <div>
            <label class="mt-3"> <b>Birim Fiyatı:</b></label>{{maintenanceOperation.unitPrice}}
        </div>
    </div>

    </div>
</div>
