<app-navbar></app-navbar>
<section id="home"><app-hero></app-hero></section>
<section id="about"><app-about></app-about></section>
<section id="portfolio"><app-portfolio></app-portfolio></section>
<section id="blog"><app-blog></app-blog></section>
<section id="divider"><app-divider></app-divider></section>
<section id="approach"><app-dapproach></app-dapproach></section>
<section id="team"><app-team></app-team></section>
<section id="contact"><app-contact></app-contact></section>
<section id="footer"><app-footer></app-footer></section>


