<div class="container text-center mt-5">
    <div class="text text-start">
        <div class="text-primary"><h5>Havuz Detay</h5></div>
        <div>
            <label class="mt-3"> <b>Havuz Numarası:</b></label>{{pool.poolNumber}}
        </div>
        <div>
            <label class="mt-3"> <b>Havuz Adı:</b></label>{{pool.poolName}}
        </div>
        <div>
            <label class="mt-3"> <b>Havuz Kapasitesi:</b></label>{{pool.capacity}}
        </div>
        <div>
            <label class="mt-3"> <b>Havuz Kayıt Tarihi:</b></label>{{pool.resigtrationDate}}
        </div>
        
        <div>
            <br>
           <h5>Havuzdan Sorumlu  Kullanıcılar</h5>
        </div>
        <div *ngFor="let user of pool.users" >
            <label  class="mt-3"> <b>Kullanıcı Adı:</b></label>{{user.name}}
            <label  class="mt-3"> <b>Kullanıcı Soyadı:</b></label>{{user.lastName}}
            <label  class="mt-3"> <b>Kullanıcı Telefon:</b></label>{{user.phoneNumber}}
            <label  class="mt-3"> <b>Kullanıcı Tipi:</b></label>{{user?.userTitles?.userTitleName}}
        </div>
        <div>
            <label class="mt-3"> <b>Havuz Kullanım Tipi:</b></label>{{pool?.poolUsageType?.poolUsageTypeName}}
        </div>
        <div>
            <label class="mt-3"> <b>Havuz Tipi:</b></label>{{pool?.poolType?.poolTypeName}}
        </div>
        <div>
            <br>
           <h5>Havuz Adresi:</h5>
        </div>
        <div>
            <label class="mt-3"> <b>Adres:</b></label>{{pool?.address?.address}}
        </div>
        <div>
            <label class="mt-3"> <b>Cadde / Sokak:</b></label>{{pool?.address?.street}}
        </div>
        <div>
            <label class="mt-3"> <b>Mahalle :</b></label>{{pool?.address?.neighborhood}}
        </div>
        <div>
            <label class="mt-3"> <b>İlçe :</b></label>{{pool?.address?.district}}
        </div>
        <div>
            <label class="mt-3"> <b>İl :</b></label>{{pool?.address?.city}}
        </div>
        <div>
            <br>
           <h4>Havuzun Yapılan Bakımları</h4>
        </div>
        <div *ngFor="let maintenancePlan of pool.maintenancePlans" >
            <label  class="mt-3"> <b>Bakım planı Yapılış Tarihi:</b></label>{{maintenancePlan.operationMade}}
            <label  class="mt-3"> <b>Bir Sonraki Bakım Planı Tarihi:</b></label>{{maintenancePlan.nextMaintenanceDate}}
            <div>
                <br>
               <h5>Bakımda Yapılan Operasyonlar</h5>
            </div>
            <div *ngFor="let maintenanceOperations of maintenancePlan.maintenanceOperation">
                <label  class="mt-3"> <b>Operasyon Adı:</b></label>{{maintenanceOperations.operationName}}
                <label  class="mt-3"> <b>Hangi Sıklıla Yapılır:</b></label>{{maintenanceOperations.whatFrequency}}
                <label  class="mt-3"> <b>Birim Fiyatı:</b></label>{{maintenanceOperations.unitPrice}}

          </div>
          <label  class="mt-3"> <b>Bakım Fatura Tutarı:</b></label>{{maintenancePlan.invoicePrice}}
        </div>

    </div>
</div>


