<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary py-3">
    <div class="container">
      <a class="navbar-brand" href="#">PoolManagement</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"   routerLink="/" routerLinkActive="active">Ana Sayfa</a>
          </li>
         
          <li class="nav-item text-nowrap">
            <a *ngIf="isLoggedIn()==true"  class="nav-link" (click)="rotuerDashboard()" routerLink="/login" routerLinkActive="active">Yönetim Paneli</a>
            
        </li>
          <li class="nav-item text-nowrap">
            <a *ngIf="isLoggedIn()==true"  class="nav-link"  (click)="logout()" routerLink="">Logout</a>
            
          </li>

        
          
        </ul>
        
      </div>
    </div>
  </nav>

