<section id="blog" class="generic">
  <div class="container">
    <h2 class="display-5 text-primary mt-5">WHAT WE SAY</h2>
    <div class="row mt-4">
      <div class="col">
        <div class="card bg-light border-0">
          <img
            src="../../../assets/img/blog-1.jpg"
            class="card-img-top rounded-0"
            alt="Build"
          />
          <div class="card-body ps-3">
            <h5 class="lead text-uppercase text-primary mb-4">
              <strong> Why do we use it?</strong>
            </h5>
            <h6 class="card-title text-uppercase text-danger">
              There are many variations
            </h6>
            <p class="card-text">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <small class="text-muted">
                    <span class="align-middle">
                    <i class="bi bi-clock">
                     2 Days Ago | 
                  </i>
                </span>
                </small>
              </li>
              <li class="list-inline-item">
                <small class="text-muted">
                    <span class="align-middle">
                    <i class="bi bi-chat-left-text">
                     10 
                  </i>
                </span>
                </small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"><div class="card bg-light border-0">
        <img
          src="../../../assets/img/blog-2.jpg"
          class="card-img-top rounded-0"
          alt="Build"
        />
        <div class="card-body ps-3">
          <h5 class="lead text-uppercase text-primary mb-4">
            <strong> Why do we use it?</strong>
          </h5>
          <h6 class="card-title text-uppercase text-danger">
            There are many variations
          </h6>
          <p class="card-text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <small class="text-muted">
                  <span class="align-middle">
                  <i class="bi bi-clock">
                   2 Days Ago | 
                </i>
              </span>
              </small>
            </li>
            <li class="list-inline-item">
              <small class="text-muted">
                  <span class="align-middle">
                  <i class="bi bi-chat-left-text">
                   10 
                </i>
              </span>
              </small>
            </li>
          </ul>
        </div>
      </div></div>
      <div class="col"><div class="card bg-light border-0">
        <img
          src="../../../assets/img/blog-3.jpg"
          class="card-img-top rounded-0"
          alt="Build"
        />
        <div class="card-body ps-3">
          <h5 class="lead text-uppercase text-primary mb-4">
            <strong> Why do we use it?</strong>
          </h5>
          <h6 class="card-title text-uppercase text-danger">
            There are many variations
          </h6>
          <p class="card-text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <small class="text-muted">
                  <span class="align-middle">
                  <i class="bi bi-clock">
                   2 Days Ago | 
                </i>
              </span>
              </small>
            </li>
            <li class="list-inline-item">
              <small class="text-muted">
                  <span class="align-middle">
                  <i class="bi bi-chat-left-text">
                   10 
                </i>
              </span>
              </small>
            </li>
          </ul>
        </div>
      </div></div>
    </div>
  </div>
</section>
