<div class="container" id="generic">
    <div class="row g-0">
        <div class="col-11">
            <div class="card border-primary shadow mb-3 bg-body rounded" id="userListCard">
                <div class="card-header  bg-primary border-primary">
                    <div class="row g-0">
                        <div class="col-5 col-sm-8 d-flex align-items-center">
                            <span> <i class="bi bi-card-list" style="color:  rgb(255, 255, 255);"
                                    id="poolIcon"></i></span>
                            <span class="text-white fw-bold">&nbsp;Havuz Listesi </span>
                        </div>
                        <div class="col-1 col-sm-1 text-end">
                            <span> <i class="bi bi-search m-1" style="color:  rgb(255, 255, 255);" id="poolIcon"></i></span>
                        </div>
                        <div class="col-6 col-sm-3 ">
                            <input id="search" class="form-control form-control-sm text-danger mt-1" #searchText
                                (keyup)="search(searchText.value)" type="text" placeholder="Kullanıcı Ara (K.Ad, Ad, Soyad, Rol)"
                                aria-label="default input example">
                        </div>
                    </div>
                </div>
                <div class="card-body g-0" id="userListCardBody">
                    <table class="table table-striped" id="table">
                        <thead class="text-danger">
                            <th>Kulllanıcı Adı</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Rolü</th>
                        </thead>
                        <tbody>
                            <tr class="text-primary" *ngFor="let user of filterUsers">
                                <td>{{ user.userName }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user?.roles?.role }}</td>
                                <td>
                                    <div class="container-fluid text-end">
                                        <button (click)="userDetails(user.id)" class="btn btn-success btn-sm"
                                            id="button">
                                            Göster
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>