<div class="container mt-2">
    <div class="row g-0 justify-content-center">
        <div class="col-sm-12 col-md-6">
            <div class="card border-primary shadow  mb-3 bg-body rounded " id="poolCard">
                <div class="card-header bg-primary border-primary ">
                    <div class="row g-0">
                        <div class="col-8 d-flex align-items-center">
                            <span class="text-white">Kullanıcı Tipi Bilgileri </span>
                        </div>
                        <div class="col text-end p-0 m-0 ">
                            <span> <i class="bi bi-info-circle p-0" style="color:rgb(255, 255, 255);"
                                    id="userIcon"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="col-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-primary text-start">Kullanıcı Tipi Adı :</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-danger">{{userType.userTitleName}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
